
.header{
  display: flex;
  text-align: center;
  margin-right: 40px;
}

.nav{
  border: solid 10px black;
  text-align: center;
  font-family: arial;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}
.nav h2, a{
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color: #d1de44;
}
.description{
  text-align: center;
}

#threeboxes, #threeboxes2, #threeboxes3{
  display: flex;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  column-gap: 25px;
  margin-left: auto;
  margin-right: auto;
}
.column img{
  width: 100%;
}
.column2 img{
  width: 100%;
}
.column3 img{
  width: 100%;
}
.column, .column2, .column3{
  flex: 1;
}
.footer{
  border: solid 10px black;
  text-align: center;
  font-family: arial;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  word-spacing: 20px;
}
.footer a{
  color: grey;
  text-decoration: none;
  font-size: 10px;
}
